<% layout('/layouts/boilerplate.ejs') %>
<body>
  <div class="row mt-2">
    <div class="col-8 offset-2">
      <br />
      <h2>Create a New Listing</h2>
      <br />
      <form
        method="POST"
        action="/listings"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="InputForm">
          <div class="mb-3">
            <label for="title" class="form-label">Enter Title:</label>
            <input
              type="text"
              class="form-control"
              name="listing[title]"
              placeholder="Add a catchy Title"
              id="title"
              required
            />
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please Enter a Title</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label"
              >Enter Description:</label
            >
            <textarea
              name="listing[description]"
              placeholder="Describle your place"
              id="description"
              class="form-control"
              required
            ></textarea>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please Enter a Description</div>
          </div>
          <div class="mb-3 col-5">
            <label for="price" class="form-label">Enter Price:</label>
            <input
              name="listing[price]"
              id="price"
              placeholder="Enter Price per night"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">Please Enter a Price</div>
          </div>
          <div class="row">
            <div class="mb-3 col-6">
              <label for="location" class="form-label">Enter Location:</label>
              <input
                type="text"
                id="location"
                name="listing[location]"
                placeholder="City"
                class="form-control"
              />
            </div>
            <div class="mb-3 col-6">
              <label for="country" class="form-label">Enter Country:</label>
              <input
                type="text"
                name="listing[country]"
                placeholder="Country"
                id="country"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks Good!</div>
              <div class="invalid-feedback">Please Enter a Country</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="listing[image][file]" class="form-label"
              >Upload File:</label
            >
            <input
              type="file"
              name="listing[image][file]"
              id="listing[image][file]"
              class="form-control"
              required
            />
          </div>

          <button class="btn btn-dark add-btn mt-3">Submit</button> <br /><br />
        </div>
      </form>
    </div>
  </div>
</body>
