<% layout("/layouts/boilerplate") %>

<div class="position-absolute top-50 start-50 translate-middle">
  <h1>Welcome to Wanderlust</h1>
  <br />
  <a href="/listings" class="btn btn-dark add-btn viewButton">View Listings</a>
</div>
