<% layout('/layouts/boilerplate.ejs') -%>
<body>
  <h2>All Listings</h2>
  <!-- <form method="GET" action="listings/new">
    <button>Create New Form</button>
  </form> -->

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <%for(let listing of allListings) {%>
    
      <div class="card col listingCard">
        <a href="/listings/<%=listing._id%>" class="card-anchor">
        <img
          class="card-img-top show-img"
          src="<%=listing.image.url%>"
          alt="listingImage"
          style="height: 20rem"
        />
        <!-- <div class="card-img-overlay"></div> -->
        <div class="card-body">
          <p class="card-text">
            <b> <%=listing.title%></b> <br />
            &dollar;<%= listing.price.toLocaleString("en-US")%>
          </p>
        </a>
        </div>
      </div>
   

    <%}%>
  </div>
</body>
